@model string
@{
    if (Configuration["AuthType"].Equals("employer", StringComparison.CurrentCultureIgnoreCase))
    {
        Layout = "_LayoutEmployer";
    }
    else if (Configuration["AuthType"].Equals("provider", StringComparison.CurrentCultureIgnoreCase))
    {
        Layout = "_layoutProvider";
    }
    else if (Configuration["AuthType"].Equals("external", StringComparison.CurrentCultureIgnoreCase))
    {
        Layout = "_LayoutGeneric";
    }

    else 
        ViewData["Title"] = "Error";
}

@section breadcrumb {
    <span class="das-js-back-link"></span>
}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Error</h1>
            <p class="govuk-body">An error occurred while processing your request.</p>

        </div>
</div>