@model SFA.DAS.Apim.Developer.Web.Models.ApiProductViewModel
@{
    Layout = "_LayoutDocumentation";
    ViewData["Title"] = @Model.DisplayName;
}
<div class="app-documentation-width-container">
    <elements-api
      apiDescriptionUrl="@Model.Url"
      router="hash"
    />
</div>