@model SFA.DAS.Apim.Developer.Web.Models.SubscriptionsViewModel
@{
    Layout = "_LayoutDocumentation";
    ViewData["Title"] = "Recruitment API documentation";
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Recruitment API documentation</title>
  </head>
  <body>
    <elements-api
      apiDescriptionUrl="https://test-courses-api.apprenticeships.education.gov.uk/swagger/v1/swagger.json"
      router="hash"
    />
  </body>
</html>