
@{
    Layout = "_LayoutDocumentation";    
    ViewData["Title"] = "Get started";
}
<span class="das-js-back-link"></span>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Get started</h1>
            <h2 class="govuk-heading-l">About the recruitment and display adverts APIs</h2>
            <p><a href="#" class="govuk-link">Recruitment API</a></p>
            <p><a href="#" class="govuk-link">Recruitment API sandbox</a></p>
            <p><a href="#" class="govuk-link">Display adverts API</a></p>
            <p>Apprenticeship Service APIs are RESTful. In a RESTful style of API, data resources are given unique URLs and are manipulated through standard HTTP verbs such as:</p>
            <ul>
                <li>GET to request a resource</li>
                <li>POST to create a resource</li>
                <li>PUT to replace a resource</li>
                <li>DELETE to remove a resource</li>
            </ul>
            <p>All Apprenticeship Service APIs use the JSON data standard as the content type. JSON, or JavaScript Object Notation, is an open, standard format for storing and exchanging data. It can be used as a data format by any programming language, which makes it ideal for HTTP-based API services.</p>
            <h2 class="govuk-heading-l">API authentication</h2>
            <p></p>

        </div>
    </div>

</main>
