
@{
    ViewBag.Title = "Check your email";
    Layout = "_LayoutGeneric";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_pageErrorsOverview" />
        <h1 class="govuk-heading-xl">Check your email</h1>
        <p class="govuk-body">To change your password, use the password reset link we have sent to your registered email address.</p>
    </div>
</div>
