@using SFA.DAS.Apim.Developer.Web.Infrastructure
@model System.Guid;
@{
    ViewBag.Title = "Account created";
    Layout = "_LayoutGeneric";
}

@section breadcrumb {
    <span class="das-js-back-link"></span>
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Account created</h1>
        <p class="govuk-body">You are now able to access the Display advert API key.</p>
        <a asp-route="@RouteNames.ExternalApiHub" asp-route-externalId="@Model" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
          Access API key
        </a>
    </div>
</div>