@using SFA.DAS.Apim.Developer.Web.Infrastructure

@{
    ViewBag.Title = "Confirm your email address";
    Layout = "_LayoutGeneric";
}

<span class="das-js-back-link"></span>
<main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Confirm your email address</h1>
            <p class="govuk-body">To finish creating your account, confirm your email address using the email we have sent to you.</p>
        </div>
    </div>
</main>

