@{
    ViewBag.Title = "Terms of use – Apprenticeship service  – GOV.UK";
    Layout = "_LayoutGeneric";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Terms of use</h1>

        <p class="govuk-body">The Display advert API for Find an apprenticeship is run by the Department for Education (DfE).</p>
        <p class="govuk-body">By calling and using this API, you agree to our terms and conditions.</p>

        <h2 class="govuk-heading-l">Our responsibility</h2>

        <h3 class="govuk-heading-m">Notifying you of updates to the Display advert API</h3>

        <p class="govuk-body">We will:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>email you when a new version of the Display advert API is released</li>
            <li>support old versions of the Display advert API for 3 months after the release of a new version</li>
            <li>give you notice if we ever retire the Display advert API</li>
        </ul>

        <h3 class="govuk-heading-m">How we run the API</h3>

        <p class="govuk-body">We strive to ensure that this API:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>remains constantly available</li>
            <li>is free from viruses</li>
            <li>provides accurate and complete information</li>
        </ul>
        <p class="govuk-body">However, we do not accept liability for:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>you being unable to access this API (such as when we experience excessive demand or take the service down for maintenance)</li>
            <li>delay or failure in receiving data</li>
            <li>indirect damages arising from your use of the API or relying on the content available through the API</li>
            <li>the content and availabilty of external websites that are linked from our service</li>
        </ul>

        <h2 class="govuk-heading-l">Your responsibility</h2>

        <p class="govuk-body">Do not:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>share your API key with others</li>
            <li>mislead people using the content available through this API</li>
            <li>disrupt other people's ability to use this API (for example, by consistently exceeding your usage rate)</li>
        </ul>
        <p class="govuk-body">If we think you are misusing this API, we may block you from using it.</p>
    </div>
</div>