.govuk-template__body {
    background: #f3f2f1;
}

.govuk-header__container {
    padding-left: 15px;
}

.govuk-header__logotype-crown {
    display: inline-block;
}

.govuk-footer {
    padding-left: 20px;
    padding-right: 20px;
}

.app-documentation-wrap {
    background-color: #fff;
}

.app-documentation-width-container {
    margin: 0 auto;
    max-width: 1600px;
}

.sl-text-base {
    font-size: 16px;
}

.sl-flex.sl-items-center.sl-px-4.sl-py-3.sl-border-t {
    display: none;
}

.sl-prose, 
.sl-elements {
    font-size: 16px !important;
}

.sl-input > input,
.sl-input > input:hover {
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    color: #0b0c0c;
}

.sl-input > input:focus {
    outline: 3px solid #fd0;
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
}

.sl-elements .OperationParametersContent {
    max-height: 100%;
}

.sl-elements .ParameterGrid {
    row-gap: 15px;
    overflow: visible;
}

.sl-elements .ParameterGrid label {
    color: #0b0c0c;
}

.sl-rounded-lg {
    border-radius: 0;
}

.sl-panel__titlebar.sl-bg-canvas-200:not(.sl-cursor-pointer), 
.sl-panel__titlebar.sl-bg-canvas-300 {
    background: #0b0c0c;
    color: #fff !important;
}

.sl-panel__titlebar.sl-bg-canvas-200 .sl-text-body {
    color: #fff;
}

.sl-panel__content-wrapper,
.sl-panel__content {
    color: #0b0c0c;
}

.SendButtonHolder .sl-button {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 8px 10px 7px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    height: auto;
}

.sl-button.sl-border-input {
    background: red;
}

.sl-button.sl-w-full.sl-h-md.sl-text-base.sl-font-normal.sl-bg-transparent.sl-rounded.sl-border-transparent {
    background: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    color: #0b0c0c;
}

.ElementsTableOfContentsItem {
    color: #1d70b8;
}

.sl-bg-primary-tint {
    background-color: #1d70b8;
    color: #fff;
}

.ElementsTableOfContentsItem .sl-bg-primary-tint .sl-text-success,
.ElementsTableOfContentsItem .sl-bg-primary-tint .sl-text-primary, 
.ElementsTableOfContentsItem .sl-bg-primary-tint .sl-text-warning {
    color: #fff;
}

.token.property {
    color: #00703c !important;
}

.token.string {
    color: #1d70b8 !important;
}

.sl-code-viewer__scroller {
    max-height: 600px !important;
}


/* Export button */
.sl-button.sl-h-sm.sl-text-base.sl-font-medium.sl-ml-2.sl-rounded.sl-border-button.sl-border {
    font-size: 24px;
    line-height: 1.1875;
    box-sizing: border-box;
    position: relative;
    width: auto;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding: 6px 10px 5px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff;
    background-color: #00703c;
    -webkit-box-shadow: 0 2px 0 #002d18;
    box-shadow: 0 2px 0 #002d18;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    height: auto;
    font-weight: 600;
}

.sl-button.sl-h-sm.sl-text-base.sl-font-medium.sl-ml-2.sl-rounded.sl-border-button.sl-border:hover {
    background-color: #005a30;
}

.sl-button.sl-h-sm.sl-text-base.sl-font-medium.sl-ml-2.sl-rounded.sl-border-button.sl-border.sl-bg-canvas-100 {
    background-color: #005a30;
    border-color: #fd0;
    outline: 3px solid transparent;
    -webkit-box-shadow: inset 0 0 0 1px #fd0;
    box-shadow: inset 0 0 0 1px #fd0;
}


.sl-button.sl-w-full.sl-h-sm.sl-text-base.sl-font-normal.sl-bg-transparent.sl-rounded.sl-border-transparent {
    border: 1px solid #ccc;
}

.sl-stack.sl-stack--vertical.sl-stack--8.sl-flex.sl-flex-col.sl-items-stretch.sl-w-full {
    display: block;
    flex-direction: unset;
}

.sl-stack.sl-stack--vertical.sl-stack--8.sl-flex.sl-flex-col.sl-items-stretch.sl-w-full > .sl-flex {
    display: block;
}

.sl-stack.sl-stack--vertical.sl-stack--8.sl-flex.sl-flex-col.sl-items-stretch.sl-w-full .sl-flex-1.sl-w-0 {
    width: auto;
}

.sl-relative.sl-w-2\/5.sl-ml-16 {
    max-width: 100% !important;
    padding-left: 0;
    margin-left: 0;
    margin-top: 50px;
    width: 100% !important;
}



:root {
    --color-text: #0b0c0c;
    --color-canvas-100: #fff;
    --color-canvas-200: #f3f2f1;
    --color-canvas-300: #002d18;
    --color-success: #00703c;
    --font-prose: "GDS Transport",arial,sans-serif;
    --font-ui: "GDS Transport",arial,sans-serif;
}

:root .sl-inverted {
    --color-canvas-100: #f3f2f1;
    --color-canvas-200: #333;
    --color-canvas-300: #0b0c0c;
}